.crear-container{
    float: left;
    width: 100%;
    min-height: 100%;
    padding: 25px;
    .sub-container{
        float: left;
        width: 100%;
        background: $white;
        padding: 25px;
    }
    .list-container{
        font-size: 0.8rem;
        .MuiTableCell-root,
        button{
            font-size: 0.8rem;
        }
        .MuiSvgIcon-root{
            font-size: 1.25rem;
        }
    }
    .row{
        float: left;
        width: 100%;
        margin-bottom: 5px;
        .half{
            float: left;
            width: 50%;
            &:nth-of-type(1){
                padding-right: 10px;
            }
        }
        &.table{
            th,
            td{
                font-size: 0.7rem;
            }
            input{
                border: 0;
            }
        }
        &.plan-header{
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
            flex-wrap: wrap;
            .fifth{
                width: 32%;
                margin-bottom: 1.33%;
                background: white;
                box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
                .title{
                    float: left; 
                    width: 100%;
                    background: $blue;
                    color: white;
                    padding: 10px;
                    font-size: 0.9rem;
                    line-height: normal;
                }
                a{
                    float: left;
                    width: 100%;
                    padding: 10px;
                    text-align: center;
                    color: lighten($blue,20);
                    text-decoration: none;
                    svg{
                        margin-right: 10px;
                    }
                }
            }
        }
        &.file-input{
            .label{
                float: left;
                width: 100%;
                font-size: 1rem;
                margin-bottom: 10px;
            }
            input{
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }
            input + label{
                font-size: 0.8rem;
                font-weight: 700;
                color: white;
                background-color: $blue;
                display: inline-block;
                cursor:pointer;
                width: auto;
                padding: 10px 15px;
                transition: all 0.5s;
                &.active{
                    background: white;
                    color: $blue;
                    border-bottom: 4px solid $blue;
                }
                svg{
                    margin-right: 10px;
                }
            }
            input:focus + label{
                outline: 1px dotted $blue;
                outline: -webkit-focus-ring-color auto 5px;
                &.active{
                    background: white;
                    color: $blue !important;
                    border-bottom: 4px solid $blue;
                }
            }
            input:focus + label,
            input + label:hover {
                background-color: lighten($blue,10);
                &.active{
                    color: white;
                }
            }
            .checkbox{
                float: left;
                input[type="checkbox"]{
                    width: auto;
                    height: auto;
                    opacity: 1;
                    float: left;
                    overflow: auto;
                    position: relative;
                    z-index: 0;
                    &:focus + label,
                    & + label:hover {
                        background-color: transparent;
                        &.active{
                            color: lighten($blue,10);
                        }
                    }
                }
                label{
                    background: transparent;
                    color: black;
                    font-weight: normal;
                    font-size: 0.7rem;
                    padding: 4px;
                    cursor: auto;
                    color: lighten($blue,10);
                }
            }
        }
        label{
            float: left;
            width: 100%;
            margin-bottom: 5px;
            font-size: 1.0rem;
            color: $black;
        }
        input,
        select{
            float: left;
            width: 100%;
            height: 38px;
            padding: 5px 10px;
            font-size: 0.9rem;
            border-radius: 5px;
            border: 1px solid #B3B3B3;
            &.error{
                border-left: 10px solid $error;
                border-color: $error;
            }
        }
        .error-msg,
        .error-hide{
            float: left;
            width: 100%;
            font-size: 12px;
            color: $error;
            margin-top: 5px;
        }
        .error-hide{
            color: transparent;
        }
        .save{
            float: right;
            border: none;
            font-size: 0.7rem;
            background: $green;
            color: white;
            padding: 10px 15px;
            cursor: pointer;
            position: relative;
            &:hover{
                background: darken($green, 10);
            }
            &:disabled,
            &[disabled]{
                background: $lighterGray;
                color: $lightGray;
                .MuiLinearProgress-root{
                    opacity: 1;
                }
            }
            .MuiLinearProgress-root{
                opacity: 0;
            }
        }
        .cancel{
            float: right;
            border: none;
            font-size: 0.7rem;
            background: $purple;
            color: white;
            padding: 10px 15px;
            cursor: pointer;
            margin-right: 10px;
            &:hover{
                background: darken($purple, 10);
            }
        }
    }
}