/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  background: #DCDCDD; }

html,
body,
#root,
#main,
.routes-container {
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 20px;
  color: #2B2D42; }

#root {
  padding-top: 65px; }
  @media print {
    #root {
      padding-top: 0px; } }

h1 {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 20px; }
  h1.divider {
    border-top: 5px dotted #ADC698;
    padding-top: 25px;
    float: left;
    width: 100%;
    margin-top: 25px; }

h2 {
  color: #0b4f76;
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 20px; }

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #861657; }
  h3 .text {
    color: #3f4261;
    width: 100%;
    font-weight: normal;
    margin-top: 10px;
    font-size: 1rem; }
  h3.error {
    color: #F46036;
    margin-bottom: 0; }
    h3.error svg {
      margin-right: 10px; }
    h3.error .text {
      color: #d2370b; }
    h3.error strong {
      font-weight: bold; }
  h3.concepto_obligatorio {
    color: #6c8f4f;
    margin-bottom: 0; }
    h3.concepto_obligatorio svg {
      margin-right: 10px; }
    h3.concepto_obligatorio .text {
      color: #6c8f4f; }
    h3.concepto_obligatorio strong {
      font-weight: bold; }

input[type=file] {
  width: 0 !important; }

h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #861657; }

.landing {
  background: url(../images/bg.png);
  width: 100%;
  height: calc(100% + 50px);
  position: relative;
  margin-top: -50px; }
  .landing .buttons-container {
    float: left; }
  .landing .splash {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 330px;
    background: #fefefe;
    padding: 25px;
    border-radius: 10px;
    border: 2px solid #ccc; }
    .landing .splash img {
      width: 100%; }
    .landing .splash .social-btn {
      float: left;
      width: 100%;
      color: white;
      font-family: 'Roboto';
      font-size: 20px;
      margin-top: 15px;
      line-height: normal;
      background: black;
      border: none;
      padding: 0; }
      .landing .splash .social-btn:nth-of-type(1) {
        background: #3b5998; }
      .landing .splash .social-btn:nth-of-type(2) {
        background: #db3236; }
      .landing .splash .social-btn svg {
        display: inline-block;
        padding: 10px 0px 0 0;
        font-size: 20px;
        width: 20px;
        margin-right: 5px; }
      .landing .splash .social-btn span {
        padding: 10px 10px 10px 0;
        display: inline-block; }
    .landing .splash .gohome {
      float: left;
      width: 100%;
      color: #fff;
      font-family: 'Roboto';
      font-size: 20px;
      margin-top: 15px;
      line-height: normal;
      background: black;
      border: none;
      padding: 0;
      text-align: center; }
      .landing .splash .gohome.goBack {
        margin-top: 35px;
        background: #999;
        width: auto;
        font-size: 12px;
        border-radius: 5px; }
        .landing .splash .gohome.goBack svg {
          display: inline-block;
          padding: 0 0 0 5px;
          font-size: 12px;
          margin-right: 5px;
          width: 15px; }
        .landing .splash .gohome.goBack span {
          padding: 5px 5px 5px 0; }
      .landing .splash .gohome svg {
        display: inline-block;
        padding: 10px 0px 0 0;
        font-size: 31px;
        width: 31px;
        margin-right: 5px; }
      .landing .splash .gohome span {
        padding: 10px 10px 10px 0;
        display: inline-block;
        font-size: 18px; }
    .landing .splash .invitado {
      text-decoration: none;
      float: left;
      width: 100%;
      text-align: center;
      color: white;
      font-size: 14px;
      margin-top: 25px; }

.email-form {
  float: left;
  width: 100%;
  padding-top: 25px; }
  .email-form input {
    float: left;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #CFCFCF;
    line-height: 30px;
    font-size: 15px; }

header {
  float: left;
  width: 100%;
  background: #0b4f76;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 65px;
  padding: 0 25px;
  border-bottom: 1px solid #dbdbdb; }
  @media print {
    header {
      display: none; } }
  header img {
    float: left;
    height: 64px; }
  header ul {
    margin-left: 25px;
    float: left; }
    header ul li {
      margin-right: 10px;
      display: inline-block; }
      header ul li a {
        line-height: 49px;
        font-size: 15px;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #fff;
        display: inline-block; }
        header ul li a:hover {
          color: #fff;
          border-bottom-color: #fff; }
        header ul li a.active {
          color: #fff;
          border-bottom-color: #fff; }
        header ul li a svg {
          margin-right: 5px; }
  header .bars {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    line-height: 60px;
    float: left;
    margin-left: 80px; }
    header .bars.active {
      color: #ADC698; }
  header .sign-out {
    line-height: 65px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    float: right; }
    header .sign-out:hover {
      color: #ADC698; }
    header .sign-out svg {
      margin-right: 5px; }

.navbar-container {
  position: fixed;
  top: 65px;
  left: -100%;
  width: 100%;
  background: transparent;
  height: 100%;
  transition: all 0.5s;
  z-index: 99; }
  .navbar-container.active {
    left: 0; }
  .navbar-container .navbar {
    float: left;
    width: 260px;
    background: #234e76;
    height: 100%;
    transition: all 0.5s; }
    .navbar-container .navbar .nav-title {
      float: left;
      width: 100%;
      color: #fff;
      font-size: 34px;
      border-bottom: #fff solid 1px;
      padding-left: 25px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: bold; }
    .navbar-container .navbar ul {
      float: left;
      width: 100%;
      padding-left: 25px;
      padding-top: 30px; }
      .navbar-container .navbar ul li a {
        float: left;
        width: 100%;
        color: white;
        text-decoration: none;
        padding-bottom: 30px;
        font-size: 16px; }
        .navbar-container .navbar ul li a svg {
          margin-right: 15px; }
  .navbar-container .empty-clickable {
    float: left;
    width: calc(100% - 260px);
    height: 100%; }

.home-container {
  float: left;
  width: 100%;
  min-height: 100%;
  padding: 25px 20px 20px; }
  .home-container .hero {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .home-container .hero img {
      width: 100%; }

.crear-container {
  float: left;
  width: 100%;
  min-height: 100%;
  padding: 25px; }
  .crear-container .sub-container {
    float: left;
    width: 100%;
    background: #fff;
    padding: 25px; }
    .crear-container .sub-container.space-bellow {
      margin-bottom: 25px; }
  .crear-container .list-container {
    font-size: 0.8rem; }
    .crear-container .list-container .MuiTableCell-root,
    .crear-container .list-container button {
      font-size: 0.8rem; }
    .crear-container .list-container .MuiSvgIcon-root {
      font-size: 1.25rem; }
  .crear-container .hero {
    float: left;
    width: 100%;
    margin-bottom: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 15px;
    background: whitesmoke; }
    .crear-container .hero.error {
      background-color: #fcedee;
      border: 1px solid #f5c6cb;
      box-shadow: 0 4px 8px 0 rgba(219, 118, 126, 0.2); }
    .crear-container .hero.concepto_obligatorio {
      background-color: #e1eada;
      border: 1px solid #79a058;
      box-shadow: 0 4px 8px 0 rgba(219, 118, 126, 0.2); }
  .crear-container .row {
    float: left;
    width: 100%;
    margin-bottom: 5px; }
    .crear-container .row.rowlist {
      padding: 5px 10px; }
      .crear-container .row.rowlist:nth-child(odd) {
        background: #ffffff; }
      .crear-container .row.rowlist .quarter {
        margin-bottom: 0;
        padding: 10px 0; }
        .crear-container .row.rowlist .quarter.no-padding {
          padding: 0; }
    .crear-container .row .full {
      float: left;
      width: 100%; }
      .crear-container .row .full .switch {
        font-size: 1rem;
        margin-bottom: 15px; }
    .crear-container .row .half {
      float: left;
      width: 50%; }
      .crear-container .row .half:nth-of-type(1) {
        padding-right: 10px; }
      .crear-container .row .half a.download {
        float: left;
        width: 100%;
        padding: 10px;
        color: #79a058;
        text-decoration: none; }
        .crear-container .row .half a.download svg {
          margin-right: 10px; }
    .crear-container .row.flex {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin: 0; }
    .crear-container .row .quarter {
      float: left;
      width: 24%;
      background: #79a058;
      margin-bottom: 20px;
      margin-right: 1%; }
      .crear-container .row .quarter.enmienda {
        background: #861657; }
        .crear-container .row .quarter.enmienda a {
          color: white; }
      .crear-container .row .quarter.no-bg {
        background: transparent; }
        .crear-container .row .quarter.no-bg a {
          color: #2B2D42; }
      .crear-container .row .quarter a {
        color: #e1eada;
        float: left;
        width: calc(100% - 25px);
        font-size: 0.8rem;
        text-decoration: none;
        padding: 10px;
        line-height: normal;
        word-break: break-all; }
        .crear-container .row .quarter a:hover {
          text-decoration: underline; }
        .crear-container .row .quarter a svg {
          margin-right: 5px;
          height: 100%; }
      .crear-container .row .quarter svg.fa-trash {
        float: right;
        color: white;
        font-size: 0.6rem;
        margin-right: 10px;
        margin-top: 10px;
        cursor: pointer; }
    .crear-container .row .third {
      float: left;
      width: 32.33%;
      margin-bottom: 20px;
      margin-right: 1%; }
      .crear-container .row .third:nth-of-type(3) {
        width: 33.33%;
        margin-right: 0; }
    .crear-container .row.table th,
    .crear-container .row.table td {
      font-size: 0.7rem; }
    .crear-container .row.table input {
      border: 0; }
    .crear-container .row.plan-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      flex-wrap: wrap; }
      .crear-container .row.plan-header .fifth {
        width: 32%;
        margin-bottom: 1.33%;
        background: white;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12); }
        .crear-container .row.plan-header .fifth .title {
          float: left;
          width: 100%;
          background: #0b4f76;
          color: white;
          padding: 10px;
          font-size: 0.9rem;
          line-height: normal; }
        .crear-container .row.plan-header .fifth a {
          float: left;
          width: 100%;
          padding: 10px;
          text-align: center;
          color: #79a058;
          text-decoration: none; }
          .crear-container .row.plan-header .fifth a svg {
            margin-right: 10px; }
    .crear-container .row.file-input .label {
      float: left;
      width: 100%;
      font-size: 1rem;
      margin-bottom: 10px; }
    .crear-container .row.file-input input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1; }
    .crear-container .row.file-input input + label {
      font-size: 0.8rem;
      font-weight: 700;
      color: white;
      background-color: #0b4f76;
      display: inline-block;
      cursor: pointer;
      width: auto;
      padding: 10px 15px;
      transition: all 0.5s; }
      .crear-container .row.file-input input + label.active {
        background: white;
        color: #0b4f76;
        border-bottom: 4px solid #0b4f76; }
      .crear-container .row.file-input input + label svg {
        margin-right: 10px; }
    .crear-container .row.file-input input:focus + label {
      outline: 1px dotted #0b4f76;
      outline: -webkit-focus-ring-color auto 5px; }
      .crear-container .row.file-input input:focus + label.active {
        background: white;
        color: #0b4f76 !important;
        border-bottom: 4px solid #0b4f76; }
    .crear-container .row.file-input input:focus + label,
    .crear-container .row.file-input input + label:hover {
      background-color: #0f6ea5; }
      .crear-container .row.file-input input:focus + label.active,
      .crear-container .row.file-input input + label:hover.active {
        color: white; }
    .crear-container .row.file-input .checkbox {
      float: left; }
      .crear-container .row.file-input .checkbox input[type="checkbox"] {
        width: auto;
        height: auto;
        opacity: 1;
        float: left;
        overflow: auto;
        position: relative;
        z-index: 0; }
        .crear-container .row.file-input .checkbox input[type="checkbox"]:focus + label,
        .crear-container .row.file-input .checkbox input[type="checkbox"] + label:hover {
          background-color: transparent; }
          .crear-container .row.file-input .checkbox input[type="checkbox"]:focus + label.active,
          .crear-container .row.file-input .checkbox input[type="checkbox"] + label:hover.active {
            color: #0f6ea5; }
      .crear-container .row.file-input .checkbox label {
        background: transparent;
        color: black;
        font-weight: normal;
        font-size: 0.7rem;
        padding: 4px;
        cursor: auto;
        color: #0f6ea5; }
    .crear-container .row label {
      float: left;
      width: 100%;
      margin-bottom: 5px;
      font-size: 1.0rem;
      color: #2B2D42; }
      .crear-container .row label strong {
        font-weight: bold;
        margin-right: 10px; }
        .crear-container .row label strong.red {
          color: #F46036; }
    .crear-container .row input:not([type=checkbox]),
    .crear-container .row select {
      float: left;
      width: 100%;
      height: 38px;
      padding: 5px 10px;
      font-size: 0.9rem;
      border-radius: 5px;
      border: 1px solid #B3B3B3;
      margin-bottom: 5px; }
      .crear-container .row input:not([type=checkbox]).error,
      .crear-container .row select.error {
        border-left: 10px solid #F46036;
        border-color: #F46036; }
    .crear-container .row textarea {
      float: left;
      width: 100%;
      height: 100px;
      padding: 5px 10px;
      font-size: 0.9rem;
      border-radius: 5px;
      border: 1px solid #B3B3B3;
      margin-bottom: 5px; }
      .crear-container .row textarea.error {
        border-left: 10px solid #F46036;
        border-color: #F46036; }
    .crear-container .row .error-msg,
    .crear-container .row .error-hide {
      float: left;
      width: 100%;
      font-size: 12px;
      color: #F46036;
      margin-top: 5px; }
    .crear-container .row .error-hide {
      color: transparent; }
    .crear-container .row .save {
      float: right;
      border: none;
      font-size: 0.7rem;
      background: #ADC698;
      color: white;
      padding: 10px 15px;
      cursor: pointer;
      position: relative; }
      .crear-container .row .save:hover {
        background: #93b477; }
      .crear-container .row .save:disabled, .crear-container .row .save[disabled] {
        background: #dbdbdb;
        color: #999999; }
        .crear-container .row .save:disabled .MuiLinearProgress-root, .crear-container .row .save[disabled] .MuiLinearProgress-root {
          opacity: 1; }
      .crear-container .row .save .MuiLinearProgress-root {
        opacity: 0; }
    .crear-container .row .completar-informacion {
      float: right;
      border: none;
      font-size: 0.7rem;
      background: #861657;
      color: white;
      padding: 10px 15px;
      cursor: pointer;
      position: relative; }
      .crear-container .row .completar-informacion:hover {
        background: #5a0f3b; }
      .crear-container .row .completar-informacion:disabled, .crear-container .row .completar-informacion[disabled] {
        background: #dbdbdb;
        color: #999999; }
        .crear-container .row .completar-informacion:disabled .MuiLinearProgress-root, .crear-container .row .completar-informacion[disabled] .MuiLinearProgress-root {
          opacity: 1; }
      .crear-container .row .completar-informacion .MuiLinearProgress-root {
        opacity: 0; }
    .crear-container .row .cancel {
      float: right;
      border: none;
      font-size: 0.7rem;
      background: #F46036;
      color: white;
      padding: 10px 15px;
      cursor: pointer;
      margin-right: 10px; }
      .crear-container .row .cancel:disabled, .crear-container .row .cancel[disabled] {
        background: #dbdbdb;
        color: #999999; }
        .crear-container .row .cancel:disabled .MuiLinearProgress-root, .crear-container .row .cancel[disabled] .MuiLinearProgress-root {
          opacity: 1; }
      .crear-container .row .cancel .MuiLinearProgress-root {
        opacity: 0; }
      .crear-container .row .cancel:hover {
        background: #ea3e0d; }
    .crear-container .row .solicitud_enmienda {
      float: right;
      border: none;
      font-size: 0.7rem;
      background: #861657;
      color: white;
      padding: 10px 15px;
      cursor: pointer;
      margin-right: 10px; }
      .crear-container .row .solicitud_enmienda:disabled, .crear-container .row .solicitud_enmienda[disabled] {
        background: #dbdbdb;
        color: #999999; }
        .crear-container .row .solicitud_enmienda:disabled .MuiLinearProgress-root, .crear-container .row .solicitud_enmienda[disabled] .MuiLinearProgress-root {
          opacity: 1; }
      .crear-container .row .solicitud_enmienda .MuiLinearProgress-root {
        opacity: 0; }
      .crear-container .row .solicitud_enmienda:hover {
        background: #5a0f3b; }

.pull-left {
  float: left; }

.MuiTableCell-root {
  font-weight: 300 !important; }

.space-bellow {
  margin-bottom: 25px !important; }

.noBottom {
  margin-bottom: 0 !important; }

.comment {
  float: left;
  width: 100%;
  background: #148dd3;
  padding: 25px;
  border-radius: 10px;
  color: white;
  margin-bottom: 15px;
  font-size: 0.9rem;
  line-height: normal; }

.display-info {
  float: left;
  width: 100%;
  background: whitesmoke;
  padding: 10px;
  border-radius: 10px; }
